# Ignore entire vendor except Freemius and ConvertKit
/vendor/*
!/vendor/freemius/
!/vendor/convertkit/

# Tooling
/phpcompat-tools/
/node_modules/
/build/

# Lock files
package-lock.json
composer.lock

# Claude AI
.claude/
