includes:
	- phpstan-baseline.neon
parameters:
    level: 5
    scanFiles:
        - freemkit.php
        - uninstall.php
        - vendor/convertkit/convertkit-wordpress-libraries/src/class-convertkit-api-traits.php
        - vendor/convertkit/convertkit-wordpress-libraries/src/class-convertkit-api-v4.php
    scanDirectories:
        - includes
    paths:
        - freemkit.php
        - includes/
